{#
/**
 * @file assessment_question.html.twig
 * Default theme implementation to present Question data.
 *
 * This template is used when viewing Question pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assessment_question()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assessment_question') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
