{#
/**
 * @file assessment_result.html.twig
 * Default theme implementation to present Assessment result data.
 *
 * This template is used when viewing Assessment result pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assessment_result()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assessment_result') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
